.car-display {
  // align-items: center;
  display: flex;
  justify-content: center;
  margin: 4rem auto;
  width: 100%;

}
.wider {
  width: 15rem;
}

body{
background: #abbaab; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #abbaab , #ffffff); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #abbaab , #ffffff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
}